h1{
    color:red;
    background-color:blue;
    text-align: center;
}
.sercver{
     color:red;
    background-color:blue;
    text-align: center;
}
p{
    color:yellow;
    background-color: black;
}